/* --------- Variables --------- */

:root {
  /* Colors */
  --clr-violet: hsl(257, 40%, 49%);
  --clr-soft-magenta: hsl(300, 69%, 71%);
  --clr-white: hsl(0, 0%, 100%);

  /* Font Family */
  --ff-body: "Open Sans", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  /* Font Weight */
  --fw-regular: 400;
  --fw-semibold: 500;
}

/* --------- Reset & Base --------- */

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  display: grid;
  grid-template-rows: 8rem 1fr 7rem;
  min-height: 100vh;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 2.2rem;

  color: var(--clr-white);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  line-height: 1.5;

  text-rendering: optimizeSpeed;
  background-color: var(--clr-violet);

  background-image: url(./images/bg-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

/* body * {
  outline: 1px solid rgba(0, 0, 0, 0.5);
} */

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* --------- Header --------- */
header {
  margin-top: 2rem;
}

header > img {
  width: 8rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

section {
  text-align: center;
  align-items: center;
}

section > h1 {
  font-size: 1.5rem;
  font-family: var(--ff-heading);
  font-weight: var(--fw-semibold);
  margin-bottom: 1rem;
}

section > p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  opacity: 0.8;
}

section > a {
  display: block;
  width: fit-content;
  text-decoration: none;
  font-size: 14px;
  background-color: var(--clr-white);
  padding: 0.5rem 4.5rem;
  border-radius: 10rem;
  margin: 0 auto;
  color: var(--clr-violet);
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

footer > a {
  display: block;
  border: 1px solid var(--clr-white);
  padding: 0.35rem;
  border-radius: 100%;
}

footer > a > img {
  width: 1rem;
  height: 1rem;
}
